body {
  text-align: center;
  background-color: #f1f6f5;
  color: #4b56d2;
}

.heading {
  font-size: 50px;
  padding: 50px 0;
}

.container {
  display: grid;
  padding: 50px 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px 40px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #82c3ec;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 20px 40px;
  height: 80%;
}

.image {
  height: 70%;
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.description {
  height: 30%;
}

.name {
  font-weight: bold;
  font-size: 3vw;
  margin: 30px 0 5px 0;
}
.role {
  font-size: 1.5vw;
}

@media only screen and (max-width: 1199px) {
  .container {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .name {
    font-size: 10vw;
  }
  .role {
    font-size: 7vw;
  }
}
